.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tools a {
    text-decoration: none;
}
