
@media (prefers-reduced-motion: no-preference) {
  .spinning-image {
    animation: App-logo-spin infinite 20s linear;
  }
}
.body {
  height: 100%;
  z-index: -1;
  background-color: black;
}
.App {
  height: 100%;
  overflow: hidden;   
  opacity: 1.0; 
  transition: background 1.5s;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
